body {
  background: black;
}



.nav-link{
  text-transform: uppercase;
}
a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.page-section{
  /*padding-top:60px;*/
  overflow: hidden;
  position: relative;
}

.page-section .twentytwenty{

}

.page-section .twentytwenty img{


}

.background-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.homepage-icons{
  position: absolute;
  bottom: 0px;
  width:100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.5+99 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 99%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

}
.homepage-icons .col{

}

.homepage-icons .col img{

}

.homepage-icons .col p{

}

.homepage-icons .col p a{
  text-transform: uppercase;
  color:#fff;
}

.page-section-header{
  position: absolute;
  top: 100px;
  left:20px;
  color:#fff;
  z-index: 9999;
}

.page-section-header{
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.tt-image-wrapper{
  height: 800px;
  width: 100vw;
  display: inline-block;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: absolute;
  top:0px;
  left:0px;
}

.section-tooltip{
  position: absolute;
}
.section-tooltip .tooltip-trigger{
  background-color:#fff;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border:4px solid #999;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
  transition: 0.5s all;
}
.section-tooltip .tooltip-trigger a{
  color:#999;
  font-size: 24px;
}

.section-tooltip .tooltip-content{
  position: absolute;
  top: 0px;
  right: 60px;
  height: 320px;
  width: 240px;
  background: white;
  border:6px solid #999;
  padding:15px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
}

.footer{
  margin-top: 40px;
}

.footer h3{
  text-transform: uppercase;
  color:#126302;
  padding:0px;
  margin:30px 0px;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
}

.footer .footer-icon{
  color:#fff;
}

.footer .footer-icon img{
  height: 40px;
}

.footer .footer-icon p{
  color:#126302;
  text-transform: uppercase;
  font-family: 'Syncopate', sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer .footer-icon ul li{
  font-size: 15px;
}



.footer-menu{
  text-align: center;
  width: 100%;
}

.footer-menu li{
  display: inline-block;
  text-transform: uppercase;
  padding: 4px 10px;

}

.footer-menu li.current_page_item a{
  color:#126302;
}

.footer-menu li a{
  color:#fff;
  text-decoration: none;
}

.post-footer{
  padding-bottom: 15px;
}

.post-footer a{
  color:#fff;
}

.pre-navbar{
  height: 30px;
  padding: 0px;
  margin: 0px;
  line-height: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.pre-navbar{
  background:#2a2a2a;
  color:#fff;

}

.pre-navbar a{
  color:#fff;
}

.language-switcher{
  display: inline-block;
}

.language-switcher ul {

}

.language-switcher ul li {
  margin: 0px 5px;
}

.language-switcher ul li.active a {
  color:#126302
}

.language-switcher ul li a{

}

.img-block{
  width: 100%;
}

.page-cover {
  height: 60vh;
  width: 100vw
}

.fixed-top{
  z-index: 999999;
}

.bg-gradient-dark{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2a2a2a+0,000000+100&1+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(42,42,42,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(42,42,42,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(42,42,42,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.page-top-line{
  margin:40px 0px;
  text-align: center;
}

.page-top-line .col-md-3{

}

.page-top-line .col-md-3 img{
  height: 40px;
}

.page-top-line .col-md-3 > div:first-of-type{
  color:#126302;
  text-transform: uppercase;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
}

.page-top-line .col-md-3 > div:last-of-type{
  margin-top: 20px;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 13px;
}

.page-slice{
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: right center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding:20px 0px;
}

.page-slice.text-right{
  background-position: left center;
}

.page-slice .col-md-5{

}

.page-slice .col-md-5 > div:first-of-type{
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color:#126302;
  margin-bottom: 40px;
}

.page-slice .col-md-5 > div:last-of-type{
  color: #fff;
  margin-bottom: 60px;
}

.catalogue-filters{

}

.catalogue-filters .select2{
  background-color:#000;
  margin-top: 30px;

}

.select2-container .select2-results__options li{
  background:#000;
  color:#fff;
}

.catalogue-filters .select2 .select2-selection{
  background-color:#000;
  border-radius: 0px;
}

.catalogue-filters h2{
  margin-top:20px;
  font-family: 'Syncopate', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #147a3c;
  font-size: 1rem;
}

.catalogue-filters h3{
  margin-top:20px;
  font-family: 'Syncopate', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #147a3c;
  font-size: 1rem;
}


.select2-container--default.select2-container--focus .select2-selection--multiple{
  border:1px solid #126302!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  border-color:#126302!important;
  background-color:#126302!important;
  color:#fff!important;
  border-radius: 0px!important;
  font-size: 14px;
}

.select2-container--default .select2-results__option[aria-selected=true]{
  border-color:#126302!important;
  background-color:#126302!important;
  color:#fff!important;
}

.products-list{

}

.products-list .product-item{
  margin:20px 0px 0px 0px;
  cursor: pointer;
  color:#fff;
}

.products-list .product-item .product-item-category{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin:10px 0px 0px 0px;
}

.products-list .product-item .product-item-name{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color:#62a221;
  margin-bottom: 5px;
  line-height: 1rem;
}

.products-list .product-item .product-item-cta{
  color:#fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  margin:10px 0px 0px 0px;
}



.products-list .product-item a:hover{
  text-decoration: none;
}

.products-list .product-item .product-item-img{
  background: #fff;
}

.products-list .product-item .product-item-img img{
  height: 280px;
}


.selected-product{
  margin:20px 0px;
  border-top:1px solid #8b8b8b;
  padding:20px 0px;
}

.selected-product h1{
  color:#62a221;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}

.selected-product h2{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.selected-product h3{
  color: #137238;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.selected-product hr{
  border-top-color: #8b8b8b;
}

.selected-product .attribute-wrapper{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 5px 0px 10px 0px;
}

.selected-product .attribute-wrapper .attribute-name{
  display: block;
  text-transform: uppercase;
  color:#fff;
}

.selected-product .attribute-wrapper .attribute-value{
  display: block;
  color:#8c8c8c;
}

.selected-product .version-name{

  border: 1px solid #fff;
  padding: 2px 25px;
}

.selected-product .version-name a{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.selected-product .image-wrapper{
  position: relative;
  height: 600px;
  overflow: hidden;
}

.selected-product .image-wrapper img{
  height: 100%;
}

.selected-product .image-wrapper a {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  z-index: 999;
}

.selected-product .product-links{

}

.selected-product .product-links{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

}

.selected-product .product-links a{
  color: #137238;
}

.selected-product .product-links a:last-of-type{
  color: #fff;
}

.white-separator{
  height: 1px;
  background: #fff;
  width: 100%;
  display: block;
  margin: 60px 0px 20px 0px;
}

.catalogue-filters{

}

.rotate-90{
  transform: rotate(90deg);
}

.column-filters{

}

.column-filters li{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 5px;
  cursor:pointer;
}

.column-filters li.active{
  color: #137238;
}

.filters-holder{
  position: sticky;
  top: 100px;
}

.contacts{

}

.contacts h2{
  margin: 100px 0px 40px 0px;

  font-size: 1.2rem;
  font-family: Syncopate;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color:#147a3d;
}

.contacts input, .contacts textarea, .contacts input:focus, .contacts textarea:focus{
  border-color:#fff;
  border-radius: 0px;
  background-color: #000;
  margin-bottom: 30px;
  color:#fff;

}

.contacts input::placeholder, .contacts textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#fff;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 0.75rem;
}

.contacts-directions{
  margin: 80px 0px
}

.contacts-directions h4{

  font-family: Montserrat;
  font-weight: 400;
  font-size: 0.9rem;
    color:#2f8952;
}

  .contacts-directions p{
    color:#fff;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 0.9rem;
  }

#infoRequestModal{

}

#infoRequestModal .modal-content{
  border-radius: 0px;
  background: #000;
  border: 1px solid #fff;
  color:#fff;
}

#infoRequestModal .modal-content .modal-header{

}

#infoRequestModal .modal-content .modal-header button.close{
  color:#fff;
  opacity: 1;
}

#infoRequestModal .modal-content .modal-body{

}

#infoRequestModal .modal-content .modal-footer{

}

.btn-cantini{
  background: #137238;
  color: #fff;
  border-radius: 0px;
}

.gallery-wrapper{
}

.gallery-wrapper .main-gallery{
  display: block;
  position: relative;
}

.gallery-wrapper .main-carousel .carousel-cell{
  width: 33%!important;

  overflow: hidden;
  text-align: center;
  margin-left: 0px 50px;
  padding-left: 20px;
}

.gallery-wrapper .main-carousel .carousel-cell .carousel-cell-info{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.gallery-wrapper .main-carousel .carousel-cell .carousel-cell-info h2{
  font-family: Syncopate;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.gallery-wrapper .main-carousel .carousel-cell .carousel-cell-info .stack-expander{
  height: 50px;
  width: 50px;
  display: inline-block;
  line-height: 50px;
  opacity: 0;
  transition: 0.5s all;
  color:#000;
  background: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}

 .fullpage-gallery .close-btn{
   height: 50px;
   width: 50px;
   display: inline-block;
   line-height: 50px;
   opacity: 1;
   transition: 0.5s all;
   color:#000;
   background: #fff;
   margin-bottom: 30px;
   cursor: pointer;
 }


.gallery-wrapper .main-carousel .carousel-cell .carousel-cell-image{
  background-color: #fff;
  display: block;
  position: relative;
  text-align: center;
  height: 480px;
}

.gallery-wrapper .main-carousel .carousel-cell .carousel-cell-image img{
  display: inline-block;
  height: 100%;
}

.fullpage-gallery{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1000px;
  left: 0px;
  z-index: 999999;
  overflow: scroll;
  opacity: 0;
  background-color:#000;
}

.fullpage-gallery ul {

}

.fullpage-gallery ul li {

}

.fullpage-gallery ul li img{
  display: block;
  width: 100%;
}

.page-wrapper{
  display: block;
  position: relative;
  min-height: 1280px;

}

.navbar-spacer{
  height: 100px;
}

#topBtn{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #147a3c;
  color: #fff;
  border: none;
  cursor: pointer;
  display: none;
  text-align: center;
  line-height: 50px;
}
